<%- partial('_partial/head') %>
<%- partial('_partial/main_navigation') %>
<%- partial('_partial/header') %>
<body>
  <div id="container">
    <div id="wrap">
      <div class="outer">
        <section id="main"><%- body %></section>
      </div>
    </div>
  </div>
  <%- partial('_partial/footer') %>
</body>
</html>
